/* orden logico para ordenar css:
1º reset
2º @keyframes
3º Etiquetas de estilos generales
4º Layouts encabezado, footer ...
5º Clases porque se pueden reutilizar
6º id y cosas particulares
*/

/* 8080 peurto del servidor tomcat
	5500 puerto del servidor Visual Code
	commit para guardar
	push para subir al github
	pull para bajar del github
*/

/*  si esta amarillo significa que no tiene cmbios
	si tiene ">" ha habido una modificacion
	si tiene "?" significa que es fichero nuevo
*/

/* si un enlace NO empieza por / es una url relativa desde donde este el proyecto
	si un enlace empieza por / significa que la url empieza por el servidor


	@import url("fineprint.css") print; --> solo ponerlo cuando el archivo pueda imprimir
	@import url("bluish.css") projection, tv; --> solo ponerlo cuando el archivo salga por proyector o tv
	@import url('custom.css'); --> en cualquier tipo de dispositivo
	@import url('common.css'), screen, projection; --> para PC
	@import url('lanscape.css'), screen, projection; --> para PC
*/
@import url("reset.css");
@import url("normalize.css");
@import url("etiquetas.css");
@import url("animaciones.css");
@import url("layouts.css");
@import url("clases.css");
@import url("custom.css");

body {
	background-image: url(/helloweb/images/Fondo.jpg);
	background-image: no-repeat;
}

h1 {
	font-size: 50px;
	font-family: courier;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px
		#cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px
		3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93,
		-6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93,
		-8px 7px #cdd2d5;
}

h2 {
	color: rgb(0, 106, 141);
	font-family: courier;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	text-align: left;
}

p {
	font-family: 'Times New Roman';
	text-align: justify;
}



a {
	color: white;
}

#listaUL {
	background-color: rgb(226, 226, 226);
	text-align: left;
}

#listaUL a {
	font-color: black;
}

section {
	margin: 10px;
	background-color: rgb(226, 226, 226);
	border: 5px solid black;
	padding: 10px;
}

.intro {
	position: relative;
	background-image: url("/pruebaTecnica/ejercicios/images/Office.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: gray;
	height: 100vh;
}

.columna1 {
	margin: 100px;
}

td {
	border: 1px solid #000000;
	/* Abreviación */
	text-align: center;
}

th {
	border: 1px solid #000000;
	text-transform: uppercase;
	text-shadow: red;
}

td.hover {
	background-color: pink;
}

.tachado {
	text-decoration: line-through;
}

code {
	color: red;
	background-color: #888;
	font-family: monospace;
}

footer {
	position: fixed;
	padding: 20px;
	bottom: 0px;
	background-color: rgb(207, 125, 125);
	width: 100%;
}

code {
	color: red;
	background-color: rgb(233, 229, 229);
	font-family: monospace;
}

canvas {
	width: 800px;
	height: 800px;
	background-color: rgb(211, 211, 211);
	background-image:
		url("/pruebaTecnica/ejercicios/images/ArkanoidFondo.png");
	background-repeat: no-repeat;
	margin: auto;
	display: block;
}

/* Layout */
main {
	max-width: 1024px; margin : auto;
	margin-bottom: 50px;
	margin: auto;
}

.fa-eye {
	font-size: 20px;

	/* transform: rotate(90deg); */
}

/* para el formulario  */
form {
	border: 1px solid grey;
	padding: 20px;
	width: 800px;
	margin: auto;
	background-color: rgb(226, 226, 226);
}

input[type="text"] {
	padding: 2px 0 2px 5px;
}

input[type="text"]:valid {
	color: green;
	border: 1px solid green;
}

input[type="text"]:invalid {
	color: red;
	border: 1px solid red;
}

span {
	border: 1px dotted red;
	padding: 1px;
}

/* estilos para cajas de visualizacion */
.box1 {
	box-sizing: border-box;
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 2px solid black;
	background-color: red;
	border-radius: 10px;
	font-size: 25px;
	color: white;
	text-align: center;
}

.box2 {
	box-sizing: border-box;
	display: block;
	width: 100px;
	height: 100px;
	border: 2px solid black;
	background-color: blue;
	border-radius: 10px;
	color: white;
	text-align: center;
	font-size: 25px;
	visibility: hidden;
}

.box3 {
	box-sizing: border-box;
	display: block;
	width: 100px;
	height: 100px;
	border: 2px solid black;
	background-color: green;
	border-radius: 10px;
	color: white;
	text-align: center;
	font-size: 25px;
}

.box4 {
	box-sizing: border-box;
	display: block;
	width: 100px;
	height: 100px;
	border: 2px solid black;
	background-color: red;
	border-radius: 10px;
	color: white;
	text-align: center;
	font-size: 25px;
}

.box5 {
	box-sizing: border-box;
	display: block;
	width: 100px;
	height: 100px;
	border: 2px solid black;
	background-color: blue;
	border-radius: 10px;
	color: white;
	text-align: center;
	font-size: 25px;
	display: none;
}

.box6 {
	box-sizing: border-box;
	display: block;
	width: 100px;
	height: 100px;
	border: 2px solid black;
	background-color: green;
	border-radius: 10px;
	color: white;
	text-align: center;
	font-size: 25px;
}

.box7 {
	display: inline-block;
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border: 2px solid black;
	background-color: green;
	border-radius: 10px;
	position: relative;
	top: 10px;
	left: 10px;
	z-index: 15;
}

.box8 {
	display: inline-block;
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border: 2px solid black;
	background-color: red;
	border-radius: 10px;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 10;
}

.box9 {
	display: inline-block;
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border: 2px solid black;
	background-color: blue;
	border-radius: 10px;
	position: relative;
	top: 33px;
	left: -137px;
	z-index: 5;
}

.box-texto {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 2px solid black;
}